.map {
    position: absolute;
    top: 0;
    right: 400px;
    bottom: 0;
    left: 0;

    &-loader {
        transition: opacity .5s, display .5s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: $white;
        background: rgba($black, .8);
        text-align: center;
        z-index: 10;
        opacity: 1;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 700;
        visibility: visible;

        &.out {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }

        &__content {
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        &__square {
            $square: 30px;
            $duration: 10s;

            @keyframes square-animation {
                0% {left: 0; top: 0;}

                10.5% {left: 0; top: 0;}
                12.5% {left: $square; top: 0;}

                23% {left: $square; top: 0;}
                25% {left: $square * 2; top: 0;}

                35.5% {left: $square * 2; top: 0;}
                37.5% {left: $square * 2; top: $square;}

                48% {left: $square * 2; top: $square;}
                50% {left: $square; top: $square;}

                60.5% {left: $square; top: $square;}
                62.5% {left: $square; top: $square * 2;}

                73% {left: $square; top: $square * 2;}
                75% {left: 0; top: $square * 2;}

                85.5% {left: 0; top: $square * 2;}
                87.5% {left: 0; top: $square;}

                98% {left: 0; top: $square;}
                100% {left: 0; top: 0;}
            }

            position: absolute;
            top: 0;
            left: 0;
            width: $square - 4px;
            height: $square - 4px;
            margin: 2px;
            border-radius: 4px;
            background: $white;
            animation: square-animation $duration ease-in-out infinite both;

            @for $i from 0 through 7 {
                &:nth-of-type(#{$i}) {
                    animation-delay: -($duration / 7) * $i;
                }
            }

            &-container {
                transform: rotate(45deg);
                position: relative;
                width: $square * 3;
                height: $square * 3;
                margin: 20px auto 0;
            }
        }
    }
}
